.menu {
  height: 100vh;

  position: fixed;
  right: 0;
  top: 0;
  color: white;
}
.menu .body {
  box-sizing: border-box;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .menu .body {
    width: 100vw;
  }
}
.menu .body .nav {
  display: flex;
  flex-direction: column;
  font-size: 46px;
  gap: 12px;
  margin-top: 80px;
}
.menu .body .nav .header {
  color: #999;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}
.menu .body .nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.menu .footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;
}

/* de5013 */

.nav a {
  text-decoration: none;
  /* border-bottom: 2px solid #de5013; */
  /* box-shadow: inset 0 -4px 0 #de5013; */
  color: inherit;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.nav a:hover {
  background: #de5013;
  transform: rotate(-5deg);
}
